
body {
    color: #ddd;
    background-color: #222;
}

a {
    color: #888;
    text-decoration: none;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 9pt;
}

a#more {
    float: left;
}

a#wtf {
    float: center;
}

a#less {
    float: right;
}

header {
    color: #f5a;
    font-family: silkscreen;
    font-size: 32pt;
    text-align: center;
}

.container {
    text-align: center;
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 0;
}

#ulam_base {
    display: none;
}

#ulam {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

