

@font-face {
    font-family: 'SilkscreenNormal';
    src: url('slkscr-webfont.eot');
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscr-webfont.woff') format('woff'),
         url('slkscr-webfont.ttf') format('truetype'),
         url('slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #888;
    background-color: #222;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 9pt;
}

a {
    color: #ddd;
    text-decoration: none;
}

#hovered_num {
    color: #f5a;
    float: left;
    text-align: left;
}

#controls {
    float: right;
    text-align: right;
}

header {
    color: #f5a;
    font: 32pt 'SilkscreenNormal', Arial, san-serif;
    text-align: center;
}

.container {
    text-align: center;
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 0;
}

#ulam_base {
    display: none;
}

#ulam {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

