
body {
    color: #ddd;
    background-color: #222;
}

header {
    color: #f5a;
    font-family: silkscreen;
    font-size: 48pt;
    text-align: center;
}

.container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

#ulam_base {
    display: none;
}

#ulam {
    border: 2px dashed #888;
    margin: 0 auto;
}

